a {
  color: black;
}

.container {
  margin: 0% 3%;
}

/* .el-card {
  width: 48%;
  margin: 1%;
  float: left;
} */

.el-menu.el-menu--horizontal {
  border-bottom: none;
}

.el-menu--horizontal>.el-menu-item,
.el-menu--horizontal>.el-menu-item.is-active{
  
}